{% extends "base.html" %} {% load static %} {% block content %} 
{% if user.is_authenticated %}


<div class="container my-5" style="margin-top: 9rem !important">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
        <div id="message"></div>
          <h4 class="card-title text-center mb-4">Reset Password</h4>
          <form method="POST" id="reset-password-form" action="{% url 'reset_password' %}" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group row mb-3">
              <label for="old_password" class="col-sm-3 col-form-label">Old Password:</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="old_password" name="old_password" required>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="new_password" class="col-sm-3 col-form-label">New Password:</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="new_password" name="new_password" required>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="confirm_password" class="col-sm-3 col-form-label">Confirm Password:</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
              </div>
            </div>
            <div class="form-group row justify-content-center mt-4">
              <div class="col-sm-6">
                <button class="btn btn-primary btn-block" type="submit">Save Changes</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



{% else %}
<meta http-equiv="REFRESH" content="0;url={% url 'userlogin' %}" />
{% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $("#reset-password-form").submit(function (event) {
    event.preventDefault();
    $.ajax({
      type: "POST",
      url: '{% url "reset_password" %}',
      data: $("#reset-password-form").serialize(),
      success: function (response) {
        if (response.success) {
          $("#message")
            .removeClass("error text-danger")
            .addClass("success")
            .text(response.message);
          window.location.href = "{% url 'userlogin' %}";
        } else {
          $("#message")
            .removeClass("success")
            .addClass("error text-danger")
            .text(response.message);
        }
      },
      error: function (xhr, status, error) {
        console.log(error);
      },
    });
  });
</script>
{% endblock %}
